:host {
  display: block;
  overflow: hidden;
}

::ng-deep .mat-mdc-dialog-container {
  padding: 0 !important;
  overflow: hidden !important;
}

::ng-deep .mat-mdc-dialog-surface {
  overflow: hidden !important;
}


.delete-dialog .mat-mdc-dialog-container {
  max-width: none !important;
  width: 600px !important;
}